<div th:fragment="navPanel">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/books}">MyLibrary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin/books}">Books</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin/users}">Users</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin/requests}">Requests</a>
                </li>
                <li class="nav-item" th:unless="${#session.getAttribute('user') == null}">
                    <a class="nav-link"
                       th:href="@{/user/{id}/logout(id = ${#session.getAttribute('user').id})}">Log out</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
